/*navbar*/
nav{
    font-family: sans-serif;
    padding: 1.2%;
    color: #2F0A33;
}
#navright a{
    font-size: 17px;
    text-decoration: none;
    color: #2F0A33;
    margin-left: 15px;
}
#navright{
    margin-left: 500px;
    display: inline;
}
#navleft {
    font-size: 25px;
    margin-left: 20px;
    display: inline;
}
#user{
    display: inline;
    width: 25px;
    height: 23px;
    float: right;
}

/*body*/
main{
    background-color: rgb(245, 242, 242);
}
/*body - div1*/
.div1{
    position: relative;
}
.div1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 700px;
    background-color: rgba(47, 10, 51, 40%);
}
#image1{ 
    width: 100%;
    height: 700px;
}
#text1{
    position: absolute;   
    top: 33%;
    width: 100%;
    text-align: center;
}
#text2{  
    position: absolute;
    top: 46%;
    width: 100%;
    text-align: center;
}
#text3{
    position: absolute;
    background-color: #2F0A33;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    top: 53%;
    left: 46%;
}

/*body - div2*/
.div2{
    position: relative;
    width: 100%;
    height: 730px;
}
#head{
    margin-top: 30px;
    margin-left: 50px;
    border-left: 4px solid #2F0A33;
    font-family: sans-serif;
    padding-left: 15px;
}
#head h2{
    margin-bottom: 0;
}
#head p{
    margin-top: 5px;
}
#box{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
}
#box2 , #box3{
    margin-left: 34px;
}
.box{
    position: relative;
    display: inline-block;
    height: 600px;
    width: 440px;
    border-radius: 10px;
    overflow: hidden; /*referred*/
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    background-color: white;
}
.box p{
    position: absolute;
    font-family: sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
.img2{
    position: absolute;
    height: 65%;
    width: 100%;
}
.p1{
    top: 65%;
    font-size: 13px;
}
.p2{
    top:66%;
    font-size: 30px;
}
.p3{
    font-size: 13px;
    line-height: 1.8;
    top:78%;
}

/*body - div3*/
.div3{
    background-color: white;
    position: relative;
    height: 380px;
}
.div3 h2{
    position: absolute; 
    width: 100%; 
    font-family:Verdana;
    font-weight: 50;
    font-size: 40px;
    text-align: center;
    top: 40px;
}
#line{
    position: absolute;
    top: 150px;
    left: 710px;
    height: 4px;
    width: 100px;
    background-color:aqua;
}
#p1{
    position: absolute;
    top: 170px;
    text-align: center;
    font-family: Verdana;
    line-height: 1.8;
    font-size: small;
    padding-left: 15%;padding-right: 15%;
    color: #2F0A33;
}
#p2{
    position: absolute;
    top: 260px;
    text-align: center;
    padding-left: 15%;padding-right: 15%;
    font-family: Verdana;
    line-height: 1.8;
    font-size:smaller;
    color: grey;
}

/*The footer*/
footer{
    position: relative;
    background-color: #2F0A33;
    height: 200px;
    width: 100%;
}
footer h2{
    position: absolute;
    color: white;
    font-family: Verdana;
    font-weight: 50;
    top: 13px;
    left: 40px;
}
footer p{
    position: absolute;
    color: white;
    font-family: Verdana;
}
#foot1{
    font-size: small;
    top: 60px;
    left: 40px;
}
#foot2{
    font-size: 12px;
    top: 150px;
    left: 40px;
}
#foot3{
    font-size: 12px;
    top: 150px;
    right: 40px;
}
.icons{
    color: white;
    position: absolute;
    right: 50px;
    top: 50px;
}
.icons i{
    margin-left: 20px;
    font-size: 20px;
}